<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home/login.css" />
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <!--기본적으로 폼테그는 폼 안에 있는 버튼을 submit해주는 기능을 가지고 있다 따라서 버튼이 폼 안에 있을 때는 새로운 페이지가 리로드 된다. 그래서 버튼 테그를 p테그로 바꿔보자-->
          <input id="id" type="text" placeholder="아이디" />
          <input id="name" type="text" placeholder="이름" />
          <input id="psword" type="password" placeholder="비밀번호" />
          <input
            id="confirm-psword"
            type="password"
            placeholder="비밀번호 확인"
          />
          <p id="button">sign up</p>
          <p class="message">Already registered? <a href="/login">login</a></p>
        </form>
      </div>
    </div>
  </body>
</html>

<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->
